@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #373737;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 12pt;
    max-width: 900px;
    margin: auto;
}

.nav {
    height: 700px;
}

.main-title {
    color: white;
    font-size: 3em;
    letter-spacing: .4em;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

@media (max-width: 800px) {
    .main-header {
        justify-content: center;
        text-align: center;
    }

    li {
        margin-top: 3em;
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
        margin-top: 0 !important;
    }

    .logotipo {
        width: 25%;
    }

    .main-title {
        font-size: 2em;
    }
}

@media (max-width: 460px) {
    .logotipo {
        width: 35%;
    }
}

.main-menu {
    width: 100%;
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
    list-style: none;
}

.menu-link:hover {
    background-color: #00FF89;
    color: black;
    border: none;
    padding: .6em 3em;
    transition: 1.5s;
}

.menu-link {
    padding: .4em 3em;
    font-size: 1em;
    color: white;
    list-style: none;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    transition: 1.5s;
}

main {
    margin-top: 6em;
}

#about {
    margin-top  : 2em;
    font-size: 1.2em;
    letter-spacing: .2em;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.main-services {
    max-width: 700px;
    margin: auto;
}
.service1 {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
}
.service2 {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
}
.service3 {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.service-desc1 {
    color: white;
    margin-left: auto;
    width: 95%;
    text-align: justify;
    

}
.service-desc2 {
    color: white;
    margin-right: auto;
    width: 95%;
    text-align: justify;

}
.service-desc3 {
    color: white;
    margin-left: auto;
    width: 95%;
    text-align: justify;

}
.img-service {
    width: 100%;
}
.subtitle {
    color: white;
    font-size: 2em;
    margin-top: .5em;
    letter-spacing: .1em;
    text-align: center;
}
.home-btn {
    margin-top: 4em;
}
.copy {
    color: white;
}
footer {
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-service-container {
    color: white;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.card-service {
    cursor: pointer;
    padding: 2em;
    margin: 2em 0;
    border: 2px solid white;
    text-align: justify;
    border-radius: 10px;
    transition: 0.5s;
    

}
.card-service:hover {
    
    color: #00FF89;
    border-color: #CB6CE6;
    transition: 0.5s;


}
.services-list {
    margin-left: 40px;
}
.service-link {
    text-decoration: none;
    color: white;
}
.service-details-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    text-align: justify;
    color: white;
}
.service-detail-desc{
    margin: 2em;
}
h3 {
    text-align: center;
}
.main-customers {
    max-width: 900px;
    margin: auto;
}
.customer1 {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
}
.customer2 {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    
}
.customer3 {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 4em;
    border-bottom: 4px solid #00FF89;
    border-top: 4px solid #CB6CE6;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.customer-desc1 {
    color: white;
    margin-left: auto;
    width: 95%;
    text-align: justify;

}
.customer-desc2 {
    color: white;
    margin-right: auto;
    width: 95%;
    text-align: justify;

}
.customer-desc3 {
    color: white;
    margin-left: auto;
    width: 95%;
    text-align: justify;

}
.logo-customer {
    width: 100%;
}
.social-media{
    margin: 1rem;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media{
    transition: background-color .7s;
}
.link-social-media:hover .item-social-media{
    background-color: #cb6ce6;
    color: #fff;
    background-color: #cb6ce6;
}
.list-social-media{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.social-desc {
    margin: 1em;
    color: white;
    text-decoration: none;
}